<tr>
    <td>
        <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="left">
            <tr>
				<td class="text-link">
					<table role="presentation" border="0" cellspacing="0" cellpadding="0" align="left" width="100%" style="width: 100%; margin-left: 0; margin-right: 0;">
						<tr>
							<td width="100%" style="width: 100%; padding: 0 0 0 0;">
								<p><a href="#" target="_self">Standalone text link</a></p>
								<span class="line" align="left"></span>
							</td>
						</tr>
					</table>
						<!--[if (gte mso 9)]>
									<table role="presentation" border="0" cellspacing="0" cellpadding="0" align="left">
										<tr>
											<td width="30" height="2" bgcolor="#0066cc" align="left"">
											</td>
										</tr>
									</table>
						<![endif]-->
				</td>
			</tr>
		</table>
	</td>
</tr>