
<tr>
    <td class="row" align="center">
        <table class="button center-content-on-break" role="presentation" border="0" cellspacing="0" cellpadding="0" >
            <tr>
                <td class="button-gold" valign="middle" height="50" width="90%">
                    <a href="#" target="_blank">Open an account </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
