
<tr>
    <td class="section" align="center">
        <table role="presentation" width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center">
                    <h2 class="h2">Call xxx-xxx-xxxx</h2>
                    <p>Other CTA language can go here.</p>
                </td>
            </tr>
            {{> button-primary}}
            {{> button-secondary}}
            {{> button-gold}}
        </table>
    </td>
</tr>
