
<tr>
    <td class="section" align="center">
        <table role="presentation" width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center">
                    <h3 class="h3">Call xxx-xxx-xxxx</h3>
                </td>
            </tr>
            <tr>
                <td height="40" align="center">
                    <p>Other CTA language can go here.</p>
                </td>
            </tr>
            {{> button-primary}}
            {{> button-secondary}}
            {{> button-gold}}
            <tr>
                <td>
                    <table class="center" role="presentation" align="center" border="0" cellspacing="0" cellpadding="0">
                        {{> button-standalone-link}}
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
