
<tr>
    <td class="callout" align="center">
        <table role="presentation" border="0" cellspacing="0" cellpadding="0"  width="100%">
            <tr>
                <td>
                    <!--  **** Change background color by changing class on the table below. Options are "bkg-blue", "bkg-gray", "bkg-navy", "bkg-light-blue", "bkg-gold", or "bkg-white" **** -->
                    <!-- **** Do NOT place the color class after the rounded corner classes or else it will break in Outlook **** -->
                    <table class="bkg-blue rounded-bottom rounded-top" role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td>
                                <table role="presentation" width="90%" style=" border-spacing: 0;" align="center" cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                        <td class="row" align="center" style="padding-top: 20px;">
                                            <h2 class="h2" style="color: #ffffff;">This is a medium callout.</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="row">
                                            <p style="color: #ffffff; text-align: center;">This is suitable for a call to action, or calling out small amounts of content. This one has an icon at the top, which is optional.</p>
                                        </td>
                                    </tr>
                                    <!-- **** If you need to insert a button, paste the code here **** -->
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
           {{> notch-blue}}
        </table>
    </td>
</tr>
