
<tr>
    <td class="section">
        <table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center">
                    <h1 class="h1">This is an H1 headline. <br></h1>
                    <h2 class="h2"><span class="subhead">This is an H2 subhead, to be used only after the H1.</span></h2>   
                </td>
            </tr>
            <tr>
                <td align="center">
                    <h1 class="h1">This headline is bold
                    <small> as well as light.</small></h1>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p>Additional information</p>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
                        {{>button-primary}}
                    </table>
                </td>
            </tr>
            <tr>
                <td class="row">
                    <table class="column" width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="left">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                    <ul>
                                        <li>Bullet</li>
                                        <li>Bullet</li>
                                        <li>Bullet</li>
                                    </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
