
<tr>
    <td class="section" bgcolor="#f2f2f2" >
        <table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <hr style="margin-bottom: 5px;">
                    <p class="disclosure">
                        This email was sent by Prudential Retirement, 280 Trumbull St., Hartford, CT 06103
                    </p>
                        <p class="disclosure">
                            <a href="#" target="_blank">Unsubscribe</a> from future email communications from Prudential Retirement. 
                        </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
