
<tr>
    <td class="zero-spacing" bgcolor="#f2f2f2">
        <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td class="section">
                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td class="row" >
                                <p class="disclosure-large">Large disclosure. Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p>
                                <p class="disclosure">Regular Disclosure. Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p>
                                <p class="disclosure">© 2021 Prudential Financial, Inc. and its related entities. Prudential, the Prudential logo, and the Rock symbol are service marks of Prudential Financial, Inc. and its related entities, registered in many jurisdictions worldwide. </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="disclosure">
                                    <b>FOR FINANCIAL PROFESSIONAL USE ONLY. NOT FOR USE WITH THE PUBLIC.</b> <br>
                                    [Vehicle code] <br>
                                    [Control number] &nbsp;&nbsp;&nbsp; [Edition Date]
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
{{> footer-CAN_SPAM-ILI}}
{{> footer-CAN_SPAM-annuities}}