
<tr>
    <td class="section" bgcolor="#f2f2f2" >
        <table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <hr>
                    <p class="disclosure">
                        This email was sent by Prudential Annuities, <br>
                        1 Corporate Drive, Shelton, CT, 06484, United States
                    </p>
                        <p class="disclosure">
                            <a href="http://em2.email-prudential.com/ANN-Preference-Center" target="_blank" alias="Update Profile">Update Your Profile</a> to set preferences or to unsubscribe from future email communications from Prudential Annuities. 
                        </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
