
<tr>
    <td class="zero-spacing" bgcolor="#ffffff">
        <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td bgcolor="#001f45" style="border-radius: 60px 0 0 0;" height="60">
                </td>
            </tr>
        </table>
    </td>
</tr>
