
<tr>
    <td class="section" bgcolor="#f2f2f2" >
        <table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <hr>
                    <p class="disclosure">
                        This email was sent by Prudential Annuities, <br>
                        1 Corporate Drive, Shelton, CT, 06484, United States
                    </p>
                        <p class="disclosure">
                            <a href="http://em2.email-prudential.com/ANN-Preference-Center" target="_blank" alias="Update Profile">Update Your Profile</a> to set preferences or to unsubscribe from future email communications from Prudential Annuities. <br><br>
                            <a href="https://www.prudential.com/links/privacy-statement" target="_blank">View the Privacy Policy</a>
                        </p>
                </td>
            </tr>
        </table>
            <style data-ignore-inlining>@media (prefers-color-scheme: dark) { #_t::before {content:url('https://p4oz9a6j.emltrk.com/v2/p4oz9a6j?rd&d=<span class=eloquaemail>EmailAddress</span>');}} @media (prefers-color-scheme: light) { #_t::before {content:url('https://p4oz9a6j.emltrk.com/v2/p4oz9a6j?rl&d=<span class=eloquaemail>EmailAddress</span>');}} @media print{ #_t {background-image:url('https://p4oz9a6j.emltrk.com/v2/p4oz9a6j?p&d=<span class=eloquaemail>EmailAddress</span>');}} div.OutlookMessageHeader {background-image:url('https://p4oz9a6j.emltrk.com/v2/p4oz9a6j?f&d=<span class=eloquaemail>EmailAddress</span>')} table.moz-email-headers-table {background-image:url('https://p4oz9a6j.emltrk.com/v2/p4oz9a6j?f&d=<span class=eloquaemail>EmailAddress</span>')} blockquote #_t {background-image:url('https://p4oz9a6j.emltrk.com/v2/p4oz9a6j?f&d=<span class=eloquaemail>EmailAddress</span>')} #MailContainerBody #_t {background-image:url('https://p4oz9a6j.emltrk.com/v2/p4oz9a6j?f&d=<span class=eloquaemail>EmailAddress</span>')}</style><div id="_t"></div>
        <img src="https://p4oz9a6j.emltrk.com/v2/p4oz9a6j?d=<span class=eloquaemail>EmailAddress</span>" width="1" height="1" border="0" alt="" />
    </td>
</tr>
