
<tr>
    <td class="section" bgcolor="#f2f2f2" >
        <table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <hr style="margin-bottom: 5px;">
                    <p class="disclosure">
                        This email was sent by the Individual Life Insurance unit of The Prudential Insurance Company of America (Prudential), 213 Washington Street, Newark, NJ 07102.
                    </p>
                        <p class="disclosure">
                           <a href="http://em2.email-prudential.com/ILI-Preference-Center" target="_blank">Unsubscribe</a> from future email communications from Prudential Individual Life Insurance.
                        </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
