
<tr>
    <td class="section">
        <table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center">
                    <h1 class="h1">This is an H1 headline. <br>
                    <small>This is an H1 subhead.</small></h1>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p>Additional information</p>
                </td>
            </tr>
        </table>
    </td>
</tr>
