
<tr>
	<!-- Remove class "bkg-blue" if this is being used under a white header -->
    <td class="zero-spacing bkg-blue">
        <span class="zero-spacing">
            <img class="emailwrapto100pcbreak evo-radius-hero" src="https://unsplash.it/1200/500" alt="" width="600" height="auto" border="0" />
        </span>
    </td>
</tr>
