
<tr>
    <td class="zero-spacing">
        <span class="zero-spacing">
            <img class="emailwrapto100pcbreak" src="https://unsplash.it/1200/500" alt="" width="600" height="auto" border="0" />
        </span>
    </td>
</tr>
