
<tr>
    <td class="section" align="center">
        <table role="presentation" width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td>
                    <!--  **** Change background color by changing class on the table below. Options are "blue", "gray", "navy", "light-blue" or "white" **** -->
                    <!-- **** Do NOT place the color class after the rounded corner classes or else it will break in Outlook **** -->
                    <table class="white rounded-top rounded-bottom" width="100%" role="presentation" align="center" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td style="text-align: center;">
                                <table role="presentation" width="80%" border="0" cellspacing="0" cellpadding="0">
                                    <!-- **** List Item Starts here **** -->
                                    <tr>
                                        <td class="row" width="100%" align="left">
                                            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td class="column" valign="middle" width="20%">
                                                        <table role="presentation" style=" text-align: left;">
                                                            <tr>
                                                                <td>
                                                                    <img class="emailwrapto100pcbreak" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cg id='noun_Check_3687478' transform='translate(-0.529 -280.596)'%3E%3Cpath id='Path_1158' data-name='Path 1158' d='M25.529.529A24.96,24.96,0,0,0,3.6,37.487a1.667,1.667,0,1,0,2.923-1.6,21.592,21.592,0,1,1,8.629,8.664,1.667,1.667,0,1,0-1.6,2.927A25,25,0,1,0,25.529.529Zm9.966,16.652a1.667,1.667,0,0,0-1.144.5L22.2,29.841l-5.488-5.487a1.667,1.667,0,1,0-2.355,2.355l6.662,6.663a1.667,1.667,0,0,0,2.362,0L36.708,20.041a1.667,1.667,0,0,0-1.213-2.86ZM9.03,40.362a1.667,1.667,0,1,0,1.178.488A1.661,1.661,0,0,0,9.03,40.362Z' transform='translate(0 280.067)' fill='%23007bc3' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A" width="50" height="auto" alt="">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="column" valign="middle" width="80%">
                                                        <table role="presentation" width="100%" style=" text-align: left;">
                                                            <tr>
                                                                <td width="100%" style="text-align: left;">
                                                                    <p>List item</p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!-- **** List Item Ends here **** -->
                                    <!-- **** List Item Starts here **** -->
                                    <tr>
                                        <td class="row" width="100%" align="left">
                                            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td class="column" valign="middle" width="20%">
                                                        <table role="presentation" style=" text-align: left;">
                                                            <tr>
                                                                <td>
                                                                    <img class="emailwrapto100pcbreak" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cg id='noun_Check_3687478' transform='translate(-0.529 -280.596)'%3E%3Cpath id='Path_1158' data-name='Path 1158' d='M25.529.529A24.96,24.96,0,0,0,3.6,37.487a1.667,1.667,0,1,0,2.923-1.6,21.592,21.592,0,1,1,8.629,8.664,1.667,1.667,0,1,0-1.6,2.927A25,25,0,1,0,25.529.529Zm9.966,16.652a1.667,1.667,0,0,0-1.144.5L22.2,29.841l-5.488-5.487a1.667,1.667,0,1,0-2.355,2.355l6.662,6.663a1.667,1.667,0,0,0,2.362,0L36.708,20.041a1.667,1.667,0,0,0-1.213-2.86ZM9.03,40.362a1.667,1.667,0,1,0,1.178.488A1.661,1.661,0,0,0,9.03,40.362Z' transform='translate(0 280.067)' fill='%23007bc3' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A" width="50" height="auto" alt="">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="column" valign="middle" width="80%">
                                                        <table role="presentation" width="100%" style=" text-align: left;">
                                                            <tr>
                                                                <td width="100%" style="text-align: left;">
                                                                    <p>List item</p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!-- **** List Item Ends here **** -->
                                    <!-- **** List Item Starts here **** -->
                                    <tr>
                                        <td class="row" width="100%" align="left">
                                            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td class="column" valign="middle" width="20%">
                                                        <table role="presentation" style=" text-align: left;">
                                                            <tr>
                                                                <td>
                                                                    <img class="emailwrapto100pcbreak" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cg id='noun_Check_3687478' transform='translate(-0.529 -280.596)'%3E%3Cpath id='Path_1158' data-name='Path 1158' d='M25.529.529A24.96,24.96,0,0,0,3.6,37.487a1.667,1.667,0,1,0,2.923-1.6,21.592,21.592,0,1,1,8.629,8.664,1.667,1.667,0,1,0-1.6,2.927A25,25,0,1,0,25.529.529Zm9.966,16.652a1.667,1.667,0,0,0-1.144.5L22.2,29.841l-5.488-5.487a1.667,1.667,0,1,0-2.355,2.355l6.662,6.663a1.667,1.667,0,0,0,2.362,0L36.708,20.041a1.667,1.667,0,0,0-1.213-2.86ZM9.03,40.362a1.667,1.667,0,1,0,1.178.488A1.661,1.661,0,0,0,9.03,40.362Z' transform='translate(0 280.067)' fill='%23007bc3' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A" width="50" height="auto" alt="">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="column" valign="middle" width="80%">
                                                        <table role="presentation" width="100%" style=" text-align: left;">
                                                            <tr>
                                                                <td width="100%" style="text-align: left;">
                                                                    <p>List item</p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!-- **** List Item Ends here **** -->
                                </table>
                            </td>
                        </tr>
                        <!-- **** If you need to insert a button, paste the code here **** -->
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
