    /* PruModern */

    @font-face {
        font-display: swap;
        font-family: PruModern;
        font-weight: 700;
        src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-bold-webfont.eot);
        src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-bold-webfont.woff) format("woff"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-bold-webfont.ttf) format("truetype");
        mso-font-alt: 'Helvetica';
    }

    @font-face {
        font-display: swap;
        font-family: PruModern;
        font-weight: 300;
        src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-light-webfont.eot);
        src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-light-webfont.eot?#iefix) format("embedded-opentype"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-light-webfont.woff) format("woff"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-light-webfont.ttf) format("truetype");
        mso-font-alt: 'Helvetica';
    }

    @font-face {
        font-display: fallback;
        font-family: OpenSans;
        font-weight: 400;
        src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-regular-webfont.eot);
        src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-regular-webfont.eot?#iefix) format("embedded-opentype"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273//fonts/opensans-regular-webfont.woff2) format("woff2"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-regular-webfont.woff) format("woff"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-regular-webfont.ttf) format("truetype");
        mso-font-alt: 'Helvetica';
    }

    @font-face {
        font-display: fallback;
        font-family: OpenSans;
        font-weight: 600;
        src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-semibold-webfont.eot);
        src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273//fonts/opensans-semibold-webfont.woff2) format("woff2"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-semibold-webfont.woff) format("woff"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-semibold-webfont.ttf) format("truetype");
        mso-font-alt: 'Helvetica';
    }

    @font-face {
        font-display: fallback;
        font-family: OpenSans;
        font-weight: 700;
        src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-bold-webfont.eot);
        src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-bold-webfont.woff2) format("woff2"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-bold-webfont.woff) format("woff"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-bold-webfont.ttf) format("truetype");
        mso-font-alt: 'Helvetica';
    }



    /* Base styles */

    body {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding-top: 0;
        padding-bottom: 0;  
        padding-right: 0;
        padding-left: 0;
        background-color: $gray-lightest;
        color: $gray-darker;
        font-size: $font-size-base;
    }

    .webkit {
        width: 100%;
        max-width: $email-width;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: 100%;
    }

    table {
        font-family: Arial, Helvetica, sans-serif !important;
        line-height: $line-height-loose;
        margin: 0 auto;
        border-collapse: collapse;
        mso-table-lspace: 0;
        mso-table-rspace: 0;
        border-spacing: 0;
        font-size: 0;
    }

    div {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        border: none;

        @media screen and (max-width: $email-width) {
            max-width: 100% !important;
        }
    }

    .wrapper {
        width: $email-width;
        max-width: 100%;
        margin: 0 auto;
        background-color: #ffffff;
        mso-table-lspace: 0;
        mso-table-rspace: 0;

        @media screen and (max-width: $email-width) {
            width: 100% !important;
        }
    }

    td {
        padding: 0;
        border-spacing: 0;
        box-sizing: border-box;
    }

    img {
        border: 0;
        border-width: 0;
        display: inline-block;
        border-image-width: 0;
        margin: 0 auto;
    }

    /*Typography*/
    p,
    li {
        font-size: $font-size-base;
        font-family: $font-family-sans-serif;
        margin-bottom: $padding-medium;
        margin-top: 0;
        color: $gray-dark;
    }

    a {
        text-decoration: none;
        color: $pru-link;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    a:hover {
        text-decoration: underline;
        }
    a:focus{
        transition: all 0.12s cubic-bezier(0.63, 0.09, 1, 1) 0s;
        border: 3px solid;
    }

    .header,
    .header-white,
    .preheader {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: $padding-large;
        padding-left: $padding-large;
    }
    .header {
        background-image: linear-gradient(0deg,rgba(0, 31, 69, 0.3) 0%,rgba(0, 31, 69, 0.7) 100%);
    }
    .preheader {
        background-color: $gray-lightest;
        text-align: right;
    }

    h1,
    h2,
    h3,
    h4,
    .h1,
    .h2,
    .h3,
    {
        color: $brand-color-dark;
        font-family: $font-family-headings !important;
        margin-top: 0;
        margin-bottom: 0px;
        font-weight: 700;
        line-height: $line-height-base;
        font-size: 13px;
        letter-spacing: $letter-spacing-tight;

        small {
            color: $brand-color-dark;
            font-weight: 300;
            /*font-size: 75%;*/
            font-size: 100%;
        }
    }

    .h1 {
        font-size: $font-size-h1 !important;
        font-family: $font-family-headings !important;
        margin-bottom: $padding-medium;
        margin-top: 30px;

        /*@media screen and (max-width: $mobile-breakpoint) {
            font-size: 24px !important;
        }*/
    }

    .h2 {
        font-size: $font-size-h2 !important;
        font-family: $font-family-headings !important;
        letter-spacing: $letter-spacing-tight +.2;
        /*@media screen and (max-width: $mobile-breakpoint) {
            font-size: 18px !important;
        }*/
    }

    .h3 {
        font-size: $font-size-h3 !important;
        font-family: $font-family-headings !important;
        letter-spacing: $letter-spacing-tight +.6;
        /*@media screen and (max-width: $mobile-breakpoint) {
            font-size: 16px !important;
        }*/
    }

    .subhead{
        color: $brand-color-primary;
        font-weight: 300;
    }
    .disclosure-dark-background {
        .disclosure, .disclosure-large{
            color: $gray-lighter;
        }
    }
    .disclosure {
        color: $gray;
        font-family: $font-family-headings !important;
        font-size: $font-size-small;
        line-height: $line-height-base;
    }

    .disclosure-large {
        @extend .disclosure;
        font-size: $font-size-small + 1.5;
    }

    .small {
        font-family: $font-family-sans-serif !important;
        font-size: $font-size-small;
        color: $gray-darker;
    }

    .superscript {
        line-height: 1.428571429;
        font-size: 9px;
        mso-line-height-rule: exactly;
        vertical-align: top;
    }

    /* Button and link hover states */
    .button {
        width: auto;
        border-collapse: separate;
        text-decoration: none !important;
        font-size: 15px;

        @media screen and (max-width: $mobile-breakpoint) {
            width: 100% !important;
            padding-left: $padding-large;
            padding-right: $padding-large;
        }

        td {
            transition: all .15s linear;
            border-radius: 25px;
            text-decoration: none !important;
            font-size: 15px;

            @media screen and (max-width: $mobile-breakpoint) {
                width: 100% !important;
            }
        }
    }


    .button-primary,
    .button-secondary,
    .button-gold {
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none !important;
        font-size: 15px;
    }

    .button-primary {
        border: none;
        background-color: $brand-color-primary;
        text-align: center;
        color: #ffffff;
        a {
            color: $brand-accent-1;
        }
    }

    .button-secondary {
        border: 1px solid $pru-link !important;
        text-align: center;
        background-color: #ffffff;
        color: $pru-link;
        a {
            color: $pru-link;
        }
    }

    .button-gold {
        border: none;
        text-align: center;
        background-color: $pru-yellow;
        a {
            color: $gray-darker;
        }
    }

    .button a {
        font-family: $font-family-sans-serif;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        text-decoration: none !important;
        line-height: 50px;
        text-align: center;
        letter-spacing: $letter-spacing-loose;
    }
    .button-primary:hover {
        background-color: #1C73CF !important;
    }

    .button-secondary:hover {
        background-color: #1C73CF1A !important;
    }

    .button-gold:hover {
        background-color: #ffdd40 !important;
    }

    .text-link {
        padding: 0 !important;
        text-align: left;
        text-transform: uppercase;
        color: $pru-link;
        text-decoration: none;
        font-size: 13px;
        .line{
            background-color: $pru-link;
            height: 2px;
            width: 30px;
            display: block;
            text-align: left !important;
            transition: .22s ease-in-out;
        }
        p {
            margin-bottom: 2px;
            line-height: 1;
            display: block;
            font-size: 13px;
            color: $pru-link;
            text-decoration: none;
            }
            :hover{
                text-decoration: none;
            }
            :hover ~ .line{
                transition: .22s ease-in-out;
                width: 100%;
            }
            a{
                text-decoration: none;
                font-size: 13px;
                letter-spacing: $letter-spacing-loose;
                font-weight: 600;
            }
    }
    .center {
        text-align: center;
    }
    .left {
        text-align: left;
    }
    /*Background colors*/
    .bkg-blue {
        background-color: $pru-blue !important;

        @media screen and (max-width: $email-width) {
            padding-left: $padding-medium;
            padding-right: $padding-medium;
        }
    }

    .bkg-navy {
        background-color: $pru-navy !important;

        @media screen and (max-width: $email-width) {
            padding-left: $padding-medium;
            padding-right: $padding-medium;
        }

    }

    .bkg-light-blue {
        background-color: $pru-sky-blue !important;

        @media screen and (max-width: $email-width) {
            padding-left: $padding-medium;
            padding-right: $padding-medium;
        }
    }

    .bkg-gray {
        background-color: $gray-lightest !important;

        @media screen and (max-width: $email-width) {
            padding-left: $padding-medium;
            padding-right: $padding-medium;
        }
    }

    .bkg-dark-gray {
        background-color: $gray-lighter;

        @media screen and (max-width: $email-width) {
            padding-left: $padding-medium;
            padding-right: $padding-medium;
        }
    }

    .bkg-white {
        background-color: #ffffff;
    }

    .bkg-gold {
        background: $pru-yellow;
    }

    /*Styling*/

    hr {
        border: 1px solid $gray-lighter-extra;
        width: 100%;
    }

    .rounded-top {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .rounded-bottom {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .evo-radius {
        border-radius: 0 0 60px 0;
    }
    .background-primary {
        background-color: $brand-color-primary;
    }
    .notch-blue {
        height: 0px; 
        width: 0; 
        border-top: 15px solid #007bc3; 
        border-right: 15px solid transparent; 
        border-left: 15px solid transparent; 
        border-bottom: 0;
    }
    .notch-navy {
        height: 0px; 
        width: 0; 
        border-top: 15px solid #001f45; 
        border-right: 15px solid transparent; 
        border-left: 15px solid transparent; 
        border-bottom: 0;
    }
    .notch-gray {
        height: 0px; 
        width: 0; 
        border-top: 15px solid #f2f2f2; 
        border-right: 15px solid transparent; 
        border-left: 15px solid transparent; 
        border-bottom: 0;
    }
    .notch-light-blue {
        height: 0px; 
        width: 0; 
        border-top: 15px solid #E2F4FF; 
        border-right: 15px solid transparent; 
        border-left: 15px solid transparent; 
        border-bottom: 0;
    }
    .notch-gold {
        height: 0px; 
        width: 0; 
        border-top: 15px solid #ffd200; 
        border-right: 15px solid transparent; 
        border-left: 15px solid transparent; 
        border-bottom: 0;
    }
    /* Spacing */
    .headline-spacing {
        padding-bottom: 20px;
        padding-top: 40px;

        @media screen and (max-width: $email-width) {
            padding-left: $padding-medium;
            padding-right: $padding-medium;
        }
    }

    .section,
    .callout {
        padding-top: $padding-medium;
        padding-bottom: $padding-medium;
        padding-left: 25px;
        padding-right: 25px;
        width: 100%;

        .button {
            padding-bottom: 20px;
        }

        @media screen and (max-width: $email-width) {
            padding-left: $padding-large;
            padding-right: $padding-large;
        }
    }

    .zero-spacing {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .section-bottom-small {
        padding-top: $padding-medium;
        padding-bottom: $padding-small;
    }

    .section-bottom-large {
        padding-top: $padding-medium;
        padding-bottom: $padding-large;
    }

    .callout {
        padding-left: 25px;
        padding-right: 25px;
    }

    .row {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .column td {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;

        @media screen and (max-width: $email-width) {
            padding-left: $padding-small;
            padding-right: $padding-small;
            max-width: 100%;
            width: 100% !important;
        }

    }

    .mobile-only {
        display: none;
    }

    /* Responsive styles */
    @media screen and (max-width: $email-width) {
        .center-content-on-break {
            text-align: center !important;
        }

        .emailwrapto100pc {
            width: 100% !important;
            height: auto !important;
        }

        .emailwrapto100pcbreak {
            max-width: 100% !important;
            width: 100% !important;
            height: auto !important;
        }

        .emailwrapto50pcbreak {
            max-width: 50% !important;
            width: 50% !important;
            height: auto !important;
        }

        .mobile-hide {
            display: none;
        }

        .mobile-only {
            display: inline-block;
        }
    }


    @media screen and (max-width: $mobile-breakpoint) {
        .data-table {
            border: 0px;
        }

        .data-table th {
            display: none;
            border: none;
            height: 0px;
            margin: 0px;
            overflow: hidden;
            padding: 0px;
            max-width: 0px;
            max-height: 0px;
        }

        .data-table tr {
            display: block;
            width: 90%;
            margin: 20px auto;
        }

        .data-table td {
            border-bottom: 1px solid #ddd;
            display: block;
        }

        .data-table td:before {
            content: attr(data-label);
            border-radius: 3px;
            float: left;
            font-weight: 600;
            color: $gray;
            font-family: $font-family-headings !important;
            font-size: $font-size-small;
            line-height: $line-height-tight;
        }


        .emailwrapto100pcsmall {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }

        .emailwrapto100pcbreaksmall {
            max-width: 100% !important;
            width: 100% !important;
            height: auto !important;
        }
    }