<!-- Notch -->
<tr>
	<td style="text-align: center; line-height: 0px;">
		<div class="notch-gold"></div>
		<!--[if mso]>
		  <v:shape path="m,l1000,0 500,1000xe" style="width:30px;height:15px;" fillcolor="#ffd200" stroked="f"><o:lock selection="t"/></v:shape>
		<![endif]-->
	</td>
</tr>
<!--END Notch-->