@font-face {
	font-display: swap;
	font-family: PruModern;
	font-weight: 700;
	src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-bold-webfont.eot);
	src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-bold-webfont.woff) format("woff"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-bold-webfont.ttf) format("truetype");
	mso-font-alt: 'Helvetica';
}

@font-face {
	font-display: swap;
	font-family: PruModern;
	font-weight: 300;
	src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-light-webfont.eot);
	src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-light-webfont.eot?#iefix) format("embedded-opentype"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-light-webfont.woff) format("woff"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/prudentialmodern-light-webfont.ttf) format("truetype");
	mso-font-alt: 'Helvetica';
}

@font-face {
	font-display: fallback;
	font-family: OpenSans;
	font-weight: 400;
	src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-regular-webfont.eot);
	src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-regular-webfont.eot?#iefix) format("embedded-opentype"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273//fonts/opensans-regular-webfont.woff2) format("woff2"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-regular-webfont.woff) format("woff"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-regular-webfont.ttf) format("truetype");
	mso-font-alt: 'Helvetica';
}

@font-face {
	font-display: fallback;
	font-family: OpenSans;
	font-weight: 600;
	src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-semibold-webfont.eot);
	src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273//fonts/opensans-semibold-webfont.woff2) format("woff2"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-semibold-webfont.woff) format("woff"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-semibold-webfont.ttf) format("truetype");
	mso-font-alt: 'Helvetica';
}

@font-face {
	font-display: fallback;
	font-family: OpenSans;
	font-weight: 700;
	src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-bold-webfont.eot);
	src: url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-bold-webfont.woff2) format("woff2"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-bold-webfont.woff) format("woff"), url(https://cdn.pficdn.com/pru-com-fed/19.37.273/fonts/opensans-bold-webfont.ttf) format("truetype");
	mso-font-alt: 'Helvetica';
}

body {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
	background-color: #f2f2f2;
	color: #222222;
	font-size: 15px;
}

.webkit {
	width: 100%;
	max-width: 600px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
}

table {
	font-family: Arial, Helvetica, sans-serif !important;
	line-height: 1.56;
	margin: 0 auto;
	border-collapse: collapse;
	mso-table-lspace: 0;
	mso-table-rspace: 0;
	border-spacing: 0;
	font-size: 0;
}

div {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	border: none;
}

.wrapper {
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	mso-table-lspace: 0;
	mso-table-rspace: 0;
}

td {
	padding: 0;
	border-spacing: 0;
	box-sizing: border-box;
}

img {
	border: 0;
	border-width: 0;
	display: inline-block;
	border-image-width: 0;
	margin: 0 auto;
}

p,
li {
	font-size: 15px;
	font-family: "OpenSans", Arial, Helvetica sans-serif;
	margin-bottom: 10px;
	margin-top: 0;
	color: #333333;
}

a {
	text-decoration: none;
	color: #0066cc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	transition: all 0.12s cubic-bezier(0.63, 0.09, 1, 1) 0s;
	border: 3px solid;
}

.header,
.header-white,
.preheader {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

.header {
	background-image: linear-gradient(0deg, rgba(0, 31, 69, 0.3) 0%, rgba(0, 31, 69, 0.7) 100%);
}

.preheader {
	background-color: #f2f2f2;
	text-align: right;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3 {
	color: #001f45;
	font-family: "PruModern", Arial, Helvetica, sans-serif !important;
	margin-top: 0;
	margin-bottom: 0px;
	font-weight: 700;
	line-height: 1.2;
	font-size: 13px;
	letter-spacing: -0.7px;
}

h1 small,
h2 small,
h3 small,
h4 small,
.h1 small,
.h2 small,
.h3 small {
	color: #001f45;
	font-weight: 300;
	font-size: 100%;
}

.h1 {
	font-size: 30px !important;
	font-family: "PruModern", Arial, Helvetica, sans-serif !important;
	margin-bottom: 10px;
	margin-top: 30px;
}

.h2 {
	font-size: 21px !important;
	font-family: "PruModern", Arial, Helvetica, sans-serif !important;
	letter-spacing: -0.5px;
}

.h3 {
	font-size: 16px !important;
	font-family: "PruModern", Arial, Helvetica, sans-serif !important;
	letter-spacing: -0.1px;
}

.subhead {
	color: #007bc3;
	font-weight: 300;
}

.disclosure-dark-background .disclosure,
.disclosure-dark-background .disclosure-large,
.disclosure-dark-background .disclosure-large {
	color: #cccccc;
}

.disclosure,
.disclosure-large {
	color: #666666;
	font-family: "PruModern", Arial, Helvetica, sans-serif !important;
	font-size: 12px;
	line-height: 1.2;
}

.disclosure-large {
	font-size: 13.5px;
}

.small {
	font-family: "OpenSans", Arial, Helvetica sans-serif !important;
	font-size: 12px;
	color: #222222;
}

.superscript {
	line-height: 1.428571429;
	font-size: 9px;
	mso-line-height-rule: exactly;
	vertical-align: top;
}

.button {
	width: auto;
	border-collapse: separate;
	text-decoration: none !important;
	font-size: 15px;
}

.button td {
	transition: all .15s linear;
	border-radius: 25px;
	text-decoration: none !important;
	font-size: 15px;
}

.button-primary,
.button-secondary,
.button-gold {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none !important;
	font-size: 15px;
}

.button-primary {
	border: none;
	background-color: #007bc3;
	text-align: center;
	color: #ffffff;
}

.button-primary a {
	color: #ffffff;
}

.button-secondary {
	border: 1px solid #0066cc !important;
	text-align: center;
	background-color: #ffffff;
	color: #0066cc;
}

.button-secondary a {
	color: #0066cc;
}

.button-gold {
	border: none;
	text-align: center;
	background-color: #ffd200;
}

.button-gold a {
	color: #222222;
}

.button a {
	font-family: "OpenSans", Arial, Helvetica sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	text-decoration: none !important;
	line-height: 50px;
	text-align: center;
	letter-spacing: 0.6px;
}

.button-primary:hover {
	background-color: #1C73CF !important;
}

.button-secondary:hover {
	background-color: #1C73CF1A !important;
}

.button-gold:hover {
	background-color: #ffdd40 !important;
}

.text-link {
	padding: 0 !important;
	text-align: left;
	text-transform: uppercase;
	color: #0066cc;
	text-decoration: none;
	font-size: 13px;
}

.text-link .line {
	background-color: #0066cc;
	height: 2px;
	width: 30px;
	display: block;
	text-align: left !important;
	transition: .22s ease-in-out;
}

.text-link p {
	margin-bottom: 2px;
	line-height: 1;
	display: block;
	font-size: 13px;
	color: #0066cc;
	text-decoration: none;
}

.text-link :hover {
	text-decoration: none;
}

.text-link :hover ~ .line {
	transition: .22s ease-in-out;
	width: 100%;
}

.text-link a {
	text-decoration: none;
	font-size: 13px;
	letter-spacing: 0.6px;
	font-weight: 600;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.bkg-blue {
	background-color: #007bc3 !important;
}

.bkg-navy {
	background-color: #001f45 !important;
}

.bkg-light-blue {
	background-color: #e2f4ff !important;
}

.bkg-gray {
	background-color: #f2f2f2 !important;
}

.bkg-dark-gray {
	background-color: #cccccc;
}

.bkg-white {
	background-color: #ffffff;
}

.bkg-gold {
	background: #ffd200;
}

hr {
	border: 1px solid #ebebeb;
	width: 100%;
}

.rounded-top {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.rounded-bottom {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.evo-radius {
	border-radius: 0 0 60px 0;
}

.background-primary {
	background-color: #007bc3;
}

.notch-blue {
	height: 0px;
	width: 0;
	border-top: 15px solid #007bc3;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 0;
}

.notch-navy {
	height: 0px;
	width: 0;
	border-top: 15px solid #001f45;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 0;
}

.notch-gray {
	height: 0px;
	width: 0;
	border-top: 15px solid #f2f2f2;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 0;
}

.notch-light-blue {
	height: 0px;
	width: 0;
	border-top: 15px solid #E2F4FF;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 0;
}

.notch-gold {
	height: 0px;
	width: 0;
	border-top: 15px solid #ffd200;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 0;
}

.headline-spacing {
	padding-bottom: 20px;
	padding-top: 40px;
}

.section,
.callout {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}

.section .button,
.callout .button {
	padding-bottom: 20px;
}

.zero-spacing {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.section-bottom-small {
	padding-top: 10px;
	padding-bottom: 5px;
}

.section-bottom-large {
	padding-top: 10px;
	padding-bottom: 20px;
}

.callout {
	padding-left: 25px;
	padding-right: 25px;
}

.row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.column td {
	width: 90%;
	padding-left: 10px;
	padding-right: 10px;
}

.mobile-only {
	display: none;
}

@media screen and (max-width: 600px) {

div {
	max-width: 100% !important;
}

.wrapper {
	width: 100% !important;
}

.bkg-blue {
	padding-left: 10px;
	padding-right: 10px;
}

.bkg-navy {
	padding-left: 10px;
	padding-right: 10px;
}

.bkg-light-blue {
	padding-left: 10px;
	padding-right: 10px;
}

.bkg-gray {
	padding-left: 10px;
	padding-right: 10px;
}

.bkg-dark-gray {
	padding-left: 10px;
	padding-right: 10px;
}

.headline-spacing {
	padding-left: 10px;
	padding-right: 10px;
}

.section,
.callout {
	padding-left: 20px;
	padding-right: 20px;
}

.column td {
	padding-left: 5px;
	padding-right: 5px;
	max-width: 100%;
	width: 100% !important;
}

.center-content-on-break {
	text-align: center !important;
}

.emailwrapto100pc {
	width: 100% !important;
	height: auto !important;
}

.emailwrapto100pcbreak {
	max-width: 100% !important;
	width: 100% !important;
	height: auto !important;
}

.emailwrapto50pcbreak {
	max-width: 50% !important;
	width: 50% !important;
	height: auto !important;
}

.mobile-hide {
	display: none;
}

.mobile-only {
	display: inline-block;
}

}

@media screen and (max-width: 400px) {

.button {
	width: 100% !important;
	padding-left: 20px;
	padding-right: 20px;
}

.button td {
	width: 100% !important;
}

.data-table {
	border: 0px;
}

.data-table th {
	display: none;
	border: none;
	height: 0px;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
	max-width: 0px;
	max-height: 0px;
}

.data-table tr {
	display: block;
	width: 90%;
	margin: 20px auto;
}

.data-table td {
	border-bottom: 1px solid #ddd;
	display: block;
}

.data-table td:before {
	content: attr(data-label);
	border-radius: 3px;
	float: left;
	font-weight: 600;
	color: #666666;
	font-family: "PruModern", Arial, Helvetica, sans-serif !important;
	font-size: 12px;
	line-height: 0.96;
}

.emailwrapto100pcsmall {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.emailwrapto100pcbreaksmall {
	max-width: 100% !important;
	width: 100% !important;
	height: auto !important;
}

}

