
<tr>
    <td class="bkg-navy" style="text-align: center;">
        <table width="90%" role="presentation" border="0" cellspacing="0" cellpadding="0">
            <tr>
        <!--  **** Change background color by changing class on the TD below. Options are "bkg-gray" "bkg-white" **** -->
                <td class="row">
                    <!--[if (gte mso 9)|(IE)]>
        <table role="presentation" width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
        <tr>
        <td width="50%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
        <![endif]-->
                    <div style="width: 100%; max-width: 50%; display: inline-block; vertical-align: top;" class="emailwrapto100pcbreak">
                        <table width="100%" role="presentation" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="row" align="center">
                                    <table width="100%" class="column" role="presentation" style="border-spacing: 0;" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="center-content-on-break" align="left">
                                                <p style="color: #ffffff;"><b>[Date], [Time]</b></p>
                                                <p class="disclosure-large" style="color: #ffffff; margin-bottom: 0;">Info</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]>
        </td><td width="50%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
        <![endif]-->
                    <div style="width: 100%; max-width: 50%; display: inline-block; vertical-align: top;" class="emailwrapto100pcbreak">
                        <table class="emailwrapto100pcbreak" align="right" role="presentation" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <table role="presentation" style="border-spacing:0;" border="0" cellspacing="0" cellpadding="0">
                                        {{> button-primary}}
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                </td>
            </tr>
        </table>
    </td>
</tr>
