
<tr>
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td background="https://unsplash.it/600/250" bgcolor="#001f45" valign="top">
					<!--[if gte mso 9]>
					<v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;">
					<v:fill type="tile" src="https://unsplash.it/600/250" color="#001f45" />
					<v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
					<![endif]-->
					<div style="background-image: linear-gradient(0deg,rgba(0, 31, 69, 0.8) 0%,rgba(0, 123, 195, 0.8) 30%,rgba(0, 123, 195, 0.8) 70%,rgba(0, 31, 69, 0.8) 100%);">
						<h1 class="h1" style="color: #ffffff; margin: 100px 20px;">This is an <span class="subhead" style="color: #ffffff;">H1 headline.</span></h1>
					</div>
					<!--[if gte mso 9]>
					</v:textbox>
					</v:rect>
					<![endif]-->
				</td>
			</tr>
		</table>
	</td>
</tr>