<tr>
    <td class="zero-spacing" style="text-align: center;">
        <table class="evo-radius" role="presentation" border="0" cellspacing="0" cellpadding="0" bgcolor="#001f45">
            <tr>
                <!--  **** Change background color by changing class on the TD below. Options are "bkg-gray" or "bkg-white" **** -->
                <td class="evo-radius">
                    <!--[if (gte mso 9)|(IE)]>
                    <table role="presentation" width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                    <td width="50%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                    <![endif]-->
                    <div style="width: 100%; max-width: 50%; display: inline-block; vertical-align: top;" class="emailwrapto100pcbreak">
                        <table role="presentation" style="border-spacing: 0;" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td  align="center">
                                    <table role="presentation" width="90%" style="border-spacing: 0;" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left">
                                                <h1 class="h1" style="color: #ffffff; margin: 100px 20px;">This is an <span class="subhead" style="color: #ffffff;">H1 headline.</span></h1>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]>
                    </td><td width="50%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                    <![endif]-->
                    <div style="width: 100%; max-width: 50%; display: inline-block; vertical-align: top;" class="emailwrapto100pcbreak">
                        <table role="presentation" style="border-spacing: 0;" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center">
                                    <table role="presentation" width="100%" style="border-spacing:0;" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center">
                                                <img class="evo-radius" src="https://unsplash.it/300/300" width="auto" height="300" alt="">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                </td>
            </tr>
        </table>
    </td>
</tr>