<tr>
    <td class="zero-spacing" style="text-align: center;">
        <table class="evo-radius" role="presentation" border="0" cellspacing="0" cellpadding="0" bgcolor="#001f45">
            <tr>
                <!--  **** Change background color by changing class on the TD below. Options are "bkg-gray" or "bkg-white" **** -->
                <td class="evo-radius">
                   <!-- [if mso]>
                    <v:curve style='position:relative'
                    from="0,0" control1="60pt,60pt" control2="450pt,120pt"
                    to=510pt,0pt" stroke="false"  fill="true" fillcolor="#007bc3"/>
                    <![endif]-->
                   <![end if]-->
                </td>
            </tr>
        </table>
    </td>
</tr>